body{
    background: black;  
    color: white;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
     }
    

header{
    border-bottom:solid 2px rgb(47, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(47, 122, 228);
    }

.chamada{
    background-color: rgb(186,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    overflow-x: auto;
     }

.chamada-texto{
    margin: 40px;
    }


h1{font-size:30px;}



p{font-size: 20px;}

img{height: 200px;}

.catalogo-videos{
    display: flex;
    overflow-x:auto;
    gap: 8px;
}

.categoria{
    padding-left: 20px;     
    padding-right: 20px;
}

.catalogo-videos img{ opacity: 0.8;}

.catalogo-videos img:hover{
    opacity: 1;
    border: 1px solid green;
}

.categoria h2{
    color: rgb(47, 122, 228);
}

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
   
  
    }



/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
  
    
    }

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {...}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {...}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {...}

